@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
    --color-background: #2b2d42;
    --color-primary: #f3d052;
    --color-secondary: #B0413E;
    --color-accent: #FAF0CA;
    --color-accentd1: #FAF0CAD1;
    
}

body {
    /* font-family: 'Inter', sans-serif; */
}