---
import { Icon } from "astro-icon/components";

const { tech } = Astro.props;
---

<div class="group p-1.5">
  <div
    class="flex items-center bg-accent py-1 px-2  lg:py-1 lg:px-3 rounded-full hover:bg-primary transition-transform duration-300 hover:scale-110"
  >
    <div class="flex items-center justify-center pr-1">
      <Icon name={tech.icon} class="h-5 w-5 text-background" />
    </div>
    <span class="text-background text-xs md:text-sm lg:text-sm xl:text-base leading-none">
      {tech.name}
    </span>
  </div>
</div>


